<div ng-include="'tpl/header.html'"></div>
<div class="main container">
  <br/>
  <form>
    <div class="form-group has-feedback">
      <label for="kw" class="sr-only">搜索关键字</label>
      <input type="search" id="kw" class="form-control" ng-model="kw" id="kw" placeholder="请输入待搜索的菜品或原料"/>
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
  </form>
  <div class="list-group">
    <a href="#/detail/{{ d.did }}" class="list-group-item" ng-repeat="d in dishList">
      <div class="media">
        <div class="media-left">
          <img ng-src="img/{{d.img_sm}}" alt=""/>
        </div>
        <div class="media-body">
          <h3 class="media-heading"></h3>
          <p>{{ d.name }}</p>
          <p>原料：{{ d.material }}</p>
          <p>价格：￥{{ d.price }}</p>
        </div>
      </div>
    </a>
  </div>

  <button type="button" ng-show="hasMoreData" class="btn btn-block btn-success" ng-click="loadMore()">加载更多</button>
  <div ng-hide="hasMoreData" class="alert alert-danger">
    <span class="glyphicon glyphicon-alert">
      已经没有更多数据可以加载了！
    </span>
  </div>
</div>
<div ng-include="'tpl/footer.html'"></div>